<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <!-- <ion-navbar color="primary">
        <ion-title>登陆</ion-title>
    </ion-navbar> -->

</ion-header>



<!-- -->
<ion-content padding class="auth-page">
    <div class="login-content"> 
        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown">
            <div class="logo"></div>
            <h2 ion-text class="text-secondary">
                <strong>享停就停</strong>  
            </h2>
        </div>
 

        <div padding>
            <ion-segment [(ngModel)]="isLogin">
                <ion-segment-button value="login" (click)="login()" class="primary-bg">
                    登陆
                </ion-segment-button>
                <ion-segment-button value="register" (click)="register()" class="third-bg">
                    物业注册
                </ion-segment-button>
            </ion-segment>
        </div>

        <!-- Login form -->
        <form class="list-form" novalidate #loginForm="ngForm">
            <ion-item>
                <ion-label floating>
                    <ion-icon name="phone-portrait" item-start class="text-primary"></ion-icon>
                    手机号码
                </ion-label>
                <!--[error]="user.invalid && templSubmitted" [errorMessage]="getErrorMessage('username', 'templ')" placeholder="Username" minlength="2" required icon="user4"-->
                <ion-input type="number" minlength="11" maxlength="11" name="fieldPhone" required [(ngModel)]="user.phone" #fieldPhone="ngModel"
                    (ionBlur)="on_usernameBlur($event)"></ion-input>
            </ion-item>
            <div *ngIf="fieldPhone.invalid && (fieldPhone.dirty || fieldPhone.touched)">
                <div class="text-danger" *ngIf="fieldPhone.errors.required">
                    请输入手机号码
                </div>
                <div class="text-danger" *ngIf="usernameBlur && (fieldPhone.errors.minlength || fieldPhone.errors.maxlength)">
                    请确认输入11位手机号码
                </div>
            </div>
            <!-- <div class="text-danger" *ngIf="cellPhoneError">
                请确认输入11位手机号码
            </div> -->

            <ion-item>
                <ion-label floating>
                    <ion-icon name="code-download" item-start class="text-primary"></ion-icon>
                    验证码
                </ion-label>
                <!-- [ngModelOptions]="{standalone: true}" -->
                <ion-input type="password" [(ngModel)]="user.pwd" name="fieldpwd" minlength="6" required (ionBlur)="on_passwordBlur($event)"
                    #fieldpwd="ngModel"></ion-input>
            </ion-item>
            <div *ngIf="fieldpwd.invalid && (fieldpwd.dirty || fieldpwd.touched)">
                <div class="text-danger" *ngIf="fieldpwd.errors.required">
                    请输入验证码
                </div>
                <div class="text-danger" *ngIf="passwordBlur && fieldpwd.errors.minlength">
                    请输入至少6位验证码
                </div>
            </div>
            <div class="text-danger" *ngIf="wrongUsrorPwd">
                用户名或者验证码错误
            </div>
            <!-- <button class="verifyCode" ion-button clear ion-end color="secondary" tappable (click)="sendSMS();settime()" [disabled]="verifyCode.disable">
                <ion-icon name="code-download"></ion-icon>
                &nbsp;&nbsp;{{verifyCode.verifyCodeTips}}
            </button>  -->
            <sms-code [cellPhoneNumber] ="this.user.phone" [source]="isLogin"></sms-code>
            <div> 
                <button ion-button icon-start block round color="secondary" tappable [disabled]=" !loginForm.form.valid" (click)="login()">
                    <ion-icon name="log-in"></ion-icon>
                    登陆
                </button>

                <!-- <p text-center ion-text color="primary">第三方账号登陆:</p>

            <ion-grid>
                <ion-row>
                    <ion-col col-4>
                        <button ion-button icon-only block class="btn-facebook">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col col-4>
                        <button ion-button icon-only block class="btn-twitter">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col col-4>
                        <button ion-button icon-only block class="btn-gplus">
                            <ion-icon name="logo-googleplus"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid> -->

            </div>
        </form>
    </div>
</ion-content>