<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>注册</ion-title>
    </ion-navbar>

</ion-header>


<!-- -->
<ion-content padding class="auth-page">
    <div class="login-content">

        <!-- Logo -->
        <div padding text-center>
            <div class="logo"></div>
            <h2 ion-text class="text-primary">
                <strong></strong> Demo App
            </h2>
        </div>

        <div padding>
            <ion-segment [(ngModel)]="isLogin">
                <ion-segment-button value="login" (click)="login()" class="third-bg">
                    登陆
                </ion-segment-button>
                <ion-segment-button value="register" (click)="register()" class="primary-bg">
                    新用户注册
                </ion-segment-button>
            </ion-segment>
        </div>


        <!-- Register form -->
        <form class="list-form" #myForm="ngForm">
            <ion-item>
                <ion-searchbar (ionInput)="searchTextChagne($event)" name="searchQuery" [(ngModel)]="searchQuery" #fieldsearch="ngModel"
                    required>
                </ion-searchbar>
                <ion-item no-lines *ngIf="fieldsearch.invalid && (fieldsearch.dirty || fieldsearch.touched)">
                    <div class="text-danger" *ngIf="fieldsearch.errors.required">
                        请输入所管辖的小区名称
                    </div>
                </ion-item>
                <ion-scroll *ngIf="!hideList" scrollY="true" style="width: 100%; height: 100px">
                  <div *ngIf="!hideList" style="width: 100%; height: 500px;" >
                    <div  *ngFor="let com of coms" (click)="addItem(com)"> 
                        {{com.name}}
                    </div>
                </div>
                <!-- <ion-list *ngIf="!hideList">
                    <ion-item no-lines *ngFor="let com of coms" (click)="addItem(com)">
                      
                        {{com.name}}
                    </ion-item>
                </ion-list> -->
            </ion-scroll>
            </ion-item>

            <ion-item>
                <ion-label floating>
                    <ion-icon name="phone-portrait" item-start class="text-primary"></ion-icon>
                    联系人姓名
                </ion-label>
                
                <ion-input type="text" name="fieldName" required   
                      ></ion-input>
                    
            </ion-item>
            <!-- #templateForm="ngForm" -->
            <ion-item>
                <ion-label floating>
                    <ion-icon name="phone-portrait" item-start class="text-primary"></ion-icon>
                    手机号码
                </ion-label>
                
                <ion-input type="number" minlength="11" maxlength="11"  name="fieldPhone" required  [(ngModel)]="phone" 
                 #fieldPhone="ngModel" (ionChange)="changeText()" (ionBlur) = "on_username_Blur($event)"></ion-input>
                 
            </ion-item>
             <div *ngIf="fieldPhone.invalid && (fieldPhone.dirty || fieldPhone.touched)">
                <div class="text-danger" *ngIf="fieldPhone.errors.required">
                    请输入手机号码
                </div> 
                <div class="text-danger" *ngIf="usernameBlur && (fieldPhone.errors.minlength || fieldPhone.errors.maxlength)">
                    请确认输入11位手机号码
                </div>  
            </div> 
            <div class="text-danger" *ngIf="showDuplicateUserNameError">
                该手机号已被注册
            </div> 
           

            <ion-item>
                <ion-label floating>
                    <ion-icon name="code-download" item-start class="text-primary"></ion-icon>
                    验证码
                </ion-label>
                <ion-input type="number" minlength="4" maxlength="4" name="verifycode" required  [(ngModel)]="verifycode"
                   #fieldverifycode="ngModel" (ionBlur) ="on_verifyCodeBlur($event)" ></ion-input>
            </ion-item>
            <div  *ngIf="fieldverifycode.invalid && (fieldverifycode.dirty || fieldverifycode.touched)">
                <div class="text-danger" *ngIf="fieldverifycode.errors.required">
                    请输入验证码
                </div> 
                <div class="text-danger" *ngIf="verifyCodeBlur && (fieldverifycode.errors.minlength || fieldverifycode.errors.maxlength)">
                    请确认输入4位手机验证码
                </div> 
            </div> 

            <ion-item>
                <ion-label floating>
                    <ion-icon name="lock" item-start class="text-primary"></ion-icon>
                    密码
                </ion-label>
                <ion-input type="password" [(ngModel)]="pwd" minlength="6" required name="fieldpwd" #fieldpwd="ngModel" 
                (ionBlur) ="on_passwordBlur($event)"></ion-input>
            </ion-item>
            <div *ngIf="fieldpwd.invalid && (fieldpwd.dirty || fieldpwd.touched)">
                <div class="text-danger" *ngIf="fieldpwd.errors.required">
                    请输入密码
                </div> 
                <div class="text-danger" *ngIf="passwordBlur && fieldpwd.errors.minlength">
                    请输入至少6位密码
                </div> 
            </div> 
        </form>

        <div margin-top>
            <button ion-button block color="secondary" tappable [disabled]="!myForm.form.valid" (click)="register()">
                <ion-icon name="create"></ion-icon>
                &nbsp;&nbsp;注册
      </button>

            <!-- <p text-center ion-text color="primary">第三方账号登陆:</p>

            <ion-grid>
                <ion-row>
                    <ion-col col-4>
                        <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
                    </ion-col>
                    <ion-col col-4>
                        <button ion-button icon-only block class="btn-twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
                    </ion-col>
                    <ion-col col-4>
                        <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
                    </ion-col>
                </ion-row>
            </ion-grid> -->
        </div>

    

    </div>
</ion-content>