page-register {
    .verifyCode{
        float: right;
        position: relative;
        top:-70px;
    }

    //overwrite the css in app.scss
    .login-content{
        padding-top: 85px;
    }
}
