page-user-portal {
    .padding10 {
        padding:0 10px;
    }

    .grid{
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
}
