<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    您好，{{this.user.username}}
  </p>
  <form class="list-form" novalidate #communityModalForm="ngForm">
    <ion-item>
        <ion-searchbar (ionInput)="searchTextChagne($event)" name="searchQuery" [(ngModel)]="searchQuery" #fieldsearch="ngModel"
            required placeholder="请输入您想停车的小区名称" >
        </ion-searchbar>
        <div *ngIf="fieldsearch.invalid && (fieldsearch.dirty || fieldsearch.touched)">
            <div class="text-danger" *ngIf="fieldsearch.errors.required">
                请输入您所在的小区名称
            </div>
        </div>
        <ion-list *ngIf="!hideList" > 
            <ion-item *ngFor="let com of coms"  (click)="addItem(com)">
                <!--tap-->
                {{com.name}}
            </ion-item>
        </ion-list>
    </ion-item>
    <button ion-button icon-start block color="primary" tappable (click)="searchClicked()" [disabled]="communityModalForm.form.invalid ">
      <ion-icon name="search"></ion-icon>
      查询
  </button>
  </form>
</ion-content>
