<!-- Generated template for the CommunitySelectComponent component -->
<form class="list-form" #myForm="ngForm">
  <!--Amin: Tocheck: how to disable ion-searchbar-->
    <ion-searchbar (ionInput)="searchTextChange($event)" placeholder="请输入小区名称" 
    name="searchQuery" [(ngModel)]="searchQuery" #fieldsearch="ngModel" required >
    </ion-searchbar>
    <ion-item no-lines *ngIf="this.source!=='map' && fieldsearch.invalid && (fieldsearch.dirty || fieldsearch.touched)">
      <div class="text-danger" *ngIf="fieldsearch.errors.required">
        请输入小区名称
      </div>
    </ion-item>
    <ion-scroll scrollY="true" [class]="scrollClass" >  
      <ion-list *ngIf="!hideList">
        <ion-item no-lines *ngFor="let com of coms" (click)="addItem(com)" > 
            {{com.name}}
        </ion-item>
    </ion-list>
    </ion-scroll>
 
</form>