<!-- Generated template for the CommunitySelectComponent component -->
<form class="list-form" #myForm="ngForm">
  
    <ion-searchbar (ionInput)="searchTextChagne($event)" name="searchQuery" [(ngModel)]="searchQuery" #fieldsearch="ngModel"
      required>
    </ion-searchbar>
    <ion-item no-lines *ngIf="fieldsearch.invalid && (fieldsearch.dirty || fieldsearch.touched)">
      <div class="text-danger" *ngIf="fieldsearch.errors.required">
        请输入所管辖的小区名称
      </div>
    </ion-item>
    <ion-scroll scrollY="true" [class]="scrollClass" > 
       <!-- style="width: 100%; height: 150px;"-->
      <!-- <div *ngIf="!hideList" style="width: 100%; height: 500px;">
        <div *ngFor="let com of coms" (click)="addItem(com)">
          {{com.name}}
        </div>
      </div> -->
      <ion-list *ngIf="!hideList">
        <ion-item no-lines *ngFor="let com of coms" (click)="addItem(com)" >
            <!--tap-->
            {{com.name}}
        </ion-item>
    </ion-list>
    </ion-scroll>
 
</form>