page-map {

}

#search_bar{
    width: 100%;
    height: 5%;
    position: absolute;
    //top: 500;
    padding: 0 5vw;
    text-align: center;
    z-index: 1;
}

#viewLeisurePark{
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 2vh;
    padding: 0 5vw;
    text-align: center;
    z-index: 1;
}

#divCurrentLocation{ 
    position: absolute;
    left: 2vw;
    bottom: 13vh; 
    z-index: 1;
}


#map_container{
    width: 100%;
    height: 100%;
}

.rightFloat{
    float: right;
    padding-right: 10px;
}

.BMapLib_sendToPhone{
    display: none;
}

.Map_noprint, .anchorBL{
    display: none;
}