<!--
  Generated template for the AdminDashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>管理员界面</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p padding>
    待审核的小区物业
  </p>
  <ion-grid class="grid" *ngIf="pendingPMCUser">
    <ion-row class="light-bg">
      <ion-col> 管辖小区名称
      </ion-col>
      <ion-col> 物业公司名称
      </ion-col>
      <ion-col> 联系人姓名
      </ion-col>
      <ion-col> 联系电话
      </ion-col>
      <ion-col> 停车价格
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let pu of pendingPMCUser">
      <ion-col> {{pu.community_ID.name}}
      </ion-col>
      <ion-col> {{pu.community_ID.PMC}}
      </ion-col>
      <ion-col> {{pu.name}}
      </ion-col>
      <ion-col> {{pu.username}}
      </ion-col>
      <ion-col> {{pu.community_ID.price}} / {{pu.priceUnitDisplayText}}
      </ion-col>
      <ion-col>
          <button ion-button clear ion-end color="secondary" tappable (click)="updatePMCStatus(pu._id)">
              <ion-icon name="create"></ion-icon>
               通过审核
            </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br/>
  <br/>
  <p padding>
    通过审核的小区物业
  </p>
  <ion-grid class="grid" *ngIf="approvedPMCUser">
    <ion-row class="light-bg">
      <ion-col> 管辖小区名称
      </ion-col>
      <ion-col> 物业公司名称
      </ion-col>
      <ion-col> 联系人姓名
      </ion-col>
      <ion-col> 联系电话
      </ion-col>
      <ion-col> 停车价格
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let pu of approvedPMCUser">
      <ion-col> {{pu.community_ID.name}}
      </ion-col>
      <ion-col> {{pu.community_ID.PMC}}
      </ion-col>
      <ion-col> {{pu.name}}
      </ion-col>
      <ion-col> {{pu.username}}
      </ion-col>
      <ion-col> {{pu.community_ID.price}} / {{pu.priceUnitDisplayText}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab left bottom>
    <button ion-fab color="dark">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="logout();">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>