page-welcome {
    ion-slide {
        background-color: #eeeeee;
    }
     
    ion-slide img {
        height: 100vh; /*!important;  */
        width: 100vw !important;
    }

    .start-button{ 
        position: absolute; 
        bottom:32vh;
        left:30vw;
    }

    .center{
        text-align:center;
   }
}
