page-welcome {
    ion-slide {
        background-color: #eeeeee;
    }
     
    ion-slide img {
        height: 100vh !important;
        width: auto !important;
    }

    .start-button{ 
        position: absolute; 
        bottom:230px;
        left:30vw;
    }

    .center{
        text-align:center;
   }
}
