<ion-header>
  <ion-navbar color="primary">
    <ion-title >
      我要共享车位
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form class="list-form" novalidate  #leisureParkForm="ngForm">
 
    <ion-item>
        <ion-label floating>
            <ion-icon name="time" item-start class="text-primary"></ion-icon>
            开始时间
        </ion-label> 
        <!--[error]="user.invalid && templSubmitted" [errorMessage]="getErrorMessage('username', 'templ')" placeholder="Username" minlength="2" required icon="user4"-->
        <ion-datetime   displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="leisurePark.startTime"  name="fieldPhone" required 
            #fieldPhone="ngModel"></ion-datetime>
    </ion-item>
    <ion-item no-lines *ngIf="fieldPhone.invalid && (fieldPhone.dirty || fieldPhone.touched)">
        <div class="text-danger" *ngIf="fieldPhone.errors.required">
            请选择开始时间
        </div>
        
    </ion-item>

    <ion-item>
        <ion-label floating>
            <ion-icon name="timer" item-start class="text-primary"></ion-icon>
            结束时间
        </ion-label>
        <ion-datetime    required  displayFormat="MMM DD, YYYY HH:mm" 
         [(ngModel)]="leisurePark.endTime"  #fieldpwd="ngModel" name="fieldpwd"></ion-datetime>
    </ion-item>
    <ion-item no-lines *ngIf="fieldpwd.invalid && (fieldpwd.dirty || fieldpwd.touched)">
        <div class="text-danger" *ngIf="fieldpwd.errors.required">
            请选择结束时间
        </div>
        
    </ion-item>

    <ion-item>
      <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          车位列表
      </ion-label>
      <ion-input type="password"   minlength="6" required  name="fieldcarport" [(ngModel)]="leisurePark.carport_ID"
       #fieldcarport="ngModel"></ion-input>
  </ion-item>
  <ion-item no-lines *ngIf="fieldcarport.invalid && (fieldcarport.dirty || fieldcarport.touched)">
      <div class="text-danger" *ngIf="fieldcarport.errors.required">
          请输入您的车位号码或选择车位
      </div>
      
  </ion-item>

 
<div>
    <!-- {{loginForm.form.valid}} -->
    <button ion-button icon-start block color="secondary" tappable [disabled]="fieldPhone.invalid || fieldpwd.invalid " (click)="login()">
        <ion-icon name="log-in"></ion-icon>
        提交
    </button> 

</div> 
</form>
</ion-content>
